.row
  .col-lg-4.col-md-3.col-sm-12
    - unless flash.empty?
      - flash.keys.each do |key|
        - case key
        - when 'alert'
          .alert.alert-danger= flash[key]
        - when 'notice'
          .alert.alert-success= flash[key]
        - else
          .alert.alert-primary= flash[key]

    %p
      = link_to '#', class: 'btn btn-primary', id: 'create_new_btn' do
        %i.bi.bi-plus
        Tambah Room Baru

    #create_new_room
      = render 'new'

    %ul.list-group
      - @rooms.each do |room|
        - if params[:room_id] == room.id.to_s
          %li.list-group-item.active.list-room
            %span
              = link_to room.name, rooms_path(room_id: room.id), class: 'active-list-room-text'
            %span
              = link_to rooms_path(room_id: room.id, type: 'edit'), class: 'btn btn-icon-room-chat-active', method: :get do
                %i.bi.bi-pencil-square
              = button_to room_path(room), class: 'btn btn-icon-room-chat-active', method: :delete, data: { confirm: 'Apakah anda yakin untuk menghapus room ini ?' } do
                %i.bi.bi-trash
        - else
          %li.list-group-item.list-room
            %span
              = link_to room.name, rooms_path(room_id: room.id), class: 'list-room-text'
            %span
              = link_to rooms_path(room_id: room.id, type: 'edit'), class: 'btn btn-icon-room-chat', method: :get do
                %i.bi.bi-pencil-square
              = button_to room_path(room), class: 'btn btn-icon-room-chat', method: :delete, data: { confirm: 'Apakah anda yakin untuk menghapus room ini ?' } do
                %i.bi.bi-trash


  .col-lg-8.col-md-9.col-sm-12
    - if params[:type] == "edit"
      %h3 UBAH NAMA ROOM
      = form_for @room do |f|
        %p
          = f.text_field :name, class: 'form-control', placeholder: 'Masukkan Nama Room yang baru'
        %p
          = f.submit 'Ganti', class: 'btn btn-success'
          = link_to 'Cancel', rooms_path(room_id: @room), class: 'btn btn-danger'
    - elsif params[:room_id]
      %h3= @room.name
      .col
        .chat{"data-channel-subscribe" => "room", "data-room-id" => "#{@room.id}", "data-user-id" => "#{@current_user.id}"}
          - @room.messages.order('created_at').each do |room_message|
            .chat-message-container
              - if @current_user == room_message.user
                .row.text-right
                  .col.me
                    .message-content-me
                      %p.mb-1
                        - if room_message.image.attached?
                          %p= image_tag(url_for(room_message.image), class: 'attached-image')
                        - if room_message.reply_to
                          .alert.alert-info.text-left.mb-0
                            %b 
                              = room_message.reply_to.user.username.titleize
                            %hr.mb-0.mt-0
                            = room_message.reply_to.content
                        = room_message.content
                      %small
                        .author-and-timestamp-me
                          = link_to 'Balas', "/rooms?room_id=#{room_message.room.id}&reply_to=#{room_message.id}&message=#{room_message.content}&author=#{room_message.user.username.titleize}", class: 'badge badge-warning', id: 'reply_button', remote: true
                          = " | "
                          = room_message.user.username.titleize
                          = "-"
                          = time_to_string(room_message.created_at)
                    = image_tag("https://ui-avatars.com/api/?name=#{room_message.user.username}&background=0A2131&rounded=true&color=fff", class: 'avatar')
              - else
                .row
                  .col-auto
                    = image_tag("https://ui-avatars.com/api/?name=#{room_message.user.username}&background=0A2131&rounded=true&color=fff", class: 'avatar')
                  .message-content-their
                    %p.mb-1
                      - if room_message.image.attached?
                        %p= image_tag(url_for(room_message.image), class: 'attached-image')
                      - if room_message.reply_to
                        .alert.alert-info.text-left.mb-0
                          %b 
                            = room_message.reply_to.user.username.titleize
                          %hr.mb-0.mt-0
                          = room_message.reply_to.content
                      = room_message.content
                    %small
                      .author-and-timestamp-their
                        = link_to 'Balas', "/rooms?room_id=#{room_message.room.id}&reply_to=#{room_message.id}&message=#{room_message.content}&author=#{room_message.user.username.titleize}", class: 'badge badge-warning', id: 'reply_button', remote: true
                        = " | "
                        = room_message.user.username.titleize
                        = "-"
                        = time_to_string(room_message.created_at)

        = form_for (@room.messages.new), remote: true, :authenticity_token => true do |f|
          .alert.alert-warning.alert-dismissible.fade.show#dialog-reply{:role => "alert"}
            %strong#reply-name-dialog Contoh Nama
            %hr.mt-0.mb-0
            %span#reply-content-dialog Contoh Content Pesan
            %button.close#cancel_reply{:type => "button"}
              %span{"aria-hidden" => "true"} ×
          .input-group.mt-2
            = f.label :image, 'Upload Gambar : ', class: 'mr-3'
            = f.file_field :image, class: 'chat-input-image mb-2', accept: "image/*"
          .input-group.mb-3
            = f.text_field :content, class: 'chat-input form-control', required: true, autocomplete: "off"
            = f.hidden_field :room_id, value: @room.id
            = f.hidden_field :reply_to_id, value: nil
            = f.submit 'Kirim', class: 'btn btn-primary chat-input'
    - else
      .alert.alert-info
        %h3 Selamat Datang ke Server GibahIn.
        %p 
          Motto : 
          %u 
            %b.text-danger Kita perlu bergibah
        %hr
        %p Silahkan buat atau bergabung room yang ada disamping ini

.d-none{"data-role" => "message-template-me"}
  .chat-message-container
    .row.text-right
      .col.me
        .message-content-me
          .alert.alert-info.text-left.mb-0{"data-role" => 'container-of-reply'}
            %b{"data-role" => 'reply-to-username'}
            %hr.mb-0.mt-0
            %span{"data-role" => 'reply-to-content'}
          %p.mb-1{"data-role" => 'message-text'}
            %p
              %img.attached-image{src: "", "data-role" => 'attached-image'}
          %small
            .author-and-timestamp-me{"data-role" => 'user-author-timestamp'}
              %a.badge.badge-warning#reply_button{href:"#", "data-role" => 'reply-to', "data-remote" => "true"}
                Balas
              |

        %img.avatar{src: "", "data-role" => 'user-avatar'}

.d-none{"data-role" => "message-template-their"}
  .chat-message-container
    .row
      .col-auto
        %img.avatar{src: "", "data-role" => 'user-avatar'}
      .message-content-their
        .alert.alert-info.text-left.mb-0{"data-role" => 'container-of-reply'}
          %b{"data-role" => 'reply-to-username'}
            = "Nama Pengirim"
            = " :"
          %hr.mb-0.mt-0
          %span{"data-role" => 'reply-to-content'}= "Content"
        %p.mb-1{"data-role" => 'message-text'}
          %p
            %img.attached-image{src: "", "data-role" => 'attached-image'}
        %small
          .author-and-timestamp-their{"data-role" => 'user-author-timestamp'}
            %a.badge.badge-warning#reply_button{href: "#", "data-role" => 'reply-to', "data-remote" => "true"}
              Balas
            |
        

- content_for :body do
  :javascript
    document.addEventListener("DOMContentLoaded", (event) => {

      document.getElementById("create_new_room").style.display = 'none';

      document.getElementById("create_new_btn").addEventListener("click", () => {
          document.getElementById("create_new_room").style.display = 'block';
        }
      );

      document.getElementById("cancel_add_room_btn").addEventListener("click", () => {
          document.getElementById("create_new_room").style.display = 'none';
        }
      );

      document.getElementById("new_room_message")
    });